@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Inter', system-ui, sans-serif;
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-cream text-dark;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
